.sep {
    font-family: 'Material Symbols Outlined';
    font-size: .8em;
    opacity: .6;
    content: "arrow_forward_ios";
}

:local(.root) {
    user-select: none;
    display: flex;
    align-items: center;
    background-color: var(--background);
    color: var(--color);
    font-size: 1.1em;
    margin: .4em;
    padding: .2em .4em;
    border: 1px solid transparent;
    transition: border .6s;
    border-radius: 6px;
    em {
        background-color: var(--selected-background);
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: .3em;
        padding: 0 .4em;
        cursor: pointer;
        > span {
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .connection.icon {
        font-size: 1.1em;
        padding-right: .2em;
        cursor: pointer;
    }

    > span {
        flex: auto 0 1;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        padding: 0 .2em;
        border-radius: 6px;
        &:hover {
            background-color: var(--selected-background);
        }
    }
    > i {
        flex: auto 0 0;
        font-size: .7em;
        opacity: .6;
    }
}
