.fileicon {
            background: no-repeat center / contain;
        }
        .fileicon[data-code="file.json"] {
                    background-image: url('nomo/file.json.svg')
                }
                .fileicon[data-code="file.c"] {
                    background-image: url('nomo/file.c.svg')
                }
                .fileicon[data-code="file.cpp"] {
                    background-image: url('nomo/file.cpp.svg')
                }
                .fileicon[data-code="file.cr"] {
                    background-image: url('nomo/file.cr.svg')
                }
                .fileicon[data-code="file.d"] {
                    background-image: url('nomo/file.d.svg')
                }
                .fileicon[data-code="file.h"] {
                    background-image: url('nomo/file.h.svg')
                }
                .fileicon[data-code="file.js"] {
                    background-image: url('nomo/file.js.svg')
                }
                .fileicon[data-code="file.html"] {
                    background-image: url('nomo/file.html.svg')
                }
                .fileicon[data-code="file.css"] {
                    background-image: url('nomo/file.css.svg')
                }
                .fileicon[data-code="file.stylus"] {
                    background-image: url('nomo/file.stylus.svg')
                }
                .fileicon[data-code="file.sass"] {
                    background-image: url('nomo/file.sass.svg')
                }
                .fileicon[data-code="file.less"] {
                    background-image: url('nomo/file.less.svg')
                }
                .fileicon[data-code="file.markdown"] {
                    background-image: url('nomo/file.markdown.svg')
                }
                .fileicon[data-code="file.xml"] {
                    background-image: url('nomo/file.xml.svg')
                }
                .fileicon[data-code="file.cs"] {
                    background-image: url('nomo/file.cs.svg')
                }
                .fileicon[data-code="file.fs"] {
                    background-image: url('nomo/file.fs.svg')
                }
                .fileicon[data-code="file.go"] {
                    background-image: url('nomo/file.go.svg')
                }
                .fileicon[data-code="file.lua"] {
                    background-image: url('nomo/file.lua.svg')
                }
                .fileicon[data-code="file.rust"] {
                    background-image: url('nomo/file.rust.svg')
                }
                .fileicon[data-code="file.ruota"] {
                    background-image: url('nomo/file.ruota.svg')
                }
                .fileicon[data-code="file.ruby"] {
                    background-image: url('nomo/file.ruby.svg')
                }
                .fileicon[data-code="file.cucumber"] {
                    background-image: url('nomo/file.cucumber.svg')
                }
                .fileicon[data-code="file.python"] {
                    background-image: url('nomo/file.python.svg')
                }
                .fileicon[data-code="file.php"] {
                    background-image: url('nomo/file.php.svg')
                }
                .fileicon[data-code="file.julia"] {
                    background-image: url('nomo/file.julia.svg')
                }
                .fileicon[data-code="file.haxe"] {
                    background-image: url('nomo/file.haxe.svg')
                }
                .fileicon[data-code="file.java"] {
                    background-image: url('nomo/file.java.svg')
                }
                .fileicon[data-code="file.ts"] {
                    background-image: url('nomo/file.ts.svg')
                }
                .fileicon[data-code="file.d.ts"] {
                    background-image: url('nomo/file.d.ts.svg')
                }
                .fileicon[data-code="file.vue"] {
                    background-image: url('nomo/file.vue.svg')
                }
                .fileicon[data-code="file.haskell"] {
                    background-image: url('nomo/file.haskell.svg')
                }
                .fileicon[data-code="file.idris"] {
                    background-image: url('nomo/file.idris.svg')
                }
                .fileicon[data-code="file.coq"] {
                    background-image: url('nomo/file.coq.svg')
                }
                .fileicon[data-code="file.ml"] {
                    background-image: url('nomo/file.ml.svg')
                }
                .fileicon[data-code="file.fst"] {
                    background-image: url('nomo/file.fst.svg')
                }
                .fileicon[data-code="file.ats"] {
                    background-image: url('nomo/file.ats.svg')
                }
                .fileicon[data-code="file.prolog"] {
                    background-image: url('nomo/file.prolog.svg')
                }
                .fileicon[data-code="file.elm"] {
                    background-image: url('nomo/file.elm.svg')
                }
                .fileicon[data-code="file.purescript"] {
                    background-image: url('nomo/file.purescript.svg')
                }
                .fileicon[data-code="file.elixir"] {
                    background-image: url('nomo/file.elixir.svg')
                }
                .fileicon[data-code="file.text"] {
                    background-image: url('nomo/file.text.svg')
                }
                .fileicon[data-code="file.image"] {
                    background-image: url('nomo/file.image.svg')
                }
                .fileicon[data-code="file.font"] {
                    background-image: url('nomo/file.font.svg')
                }
                .fileicon[data-code="file.crt"] {
                    background-image: url('nomo/file.crt.svg')
                }
                .fileicon[data-code="file.key"] {
                    background-image: url('nomo/file.key.svg')
                }
                .fileicon[data-code="file.shell"] {
                    background-image: url('nomo/file.shell.svg')
                }
                .fileicon[data-code="file.binary"] {
                    background-image: url('nomo/file.binary.svg')
                }
                .fileicon[data-code="file.zip"] {
                    background-image: url('nomo/file.zip.svg')
                }
                .fileicon[data-code="file.clojure"] {
                    background-image: url('nomo/file.clojure.svg')
                }
                .fileicon[data-code="file.sourcemap"] {
                    background-image: url('nomo/file.sourcemap.svg')
                }
                .fileicon[data-code="file.lib"] {
                    background-image: url('nomo/file.lib.svg')
                }
                .fileicon[data-code="file.exe"] {
                    background-image: url('nomo/file.exe.svg')
                }
                .fileicon[data-code="file.scala"] {
                    background-image: url('nomo/file.scala.svg')
                }
                .fileicon[data-code="file.jade"] {
                    background-image: url('nomo/file.jade.svg')
                }
                .fileicon[data-code="file.scheme"] {
                    background-image: url('nomo/file.scheme.svg')
                }
                .fileicon[data-code="file.lisp"] {
                    background-image: url('nomo/file.lisp.svg')
                }
                .fileicon[data-code="file.elisp"] {
                    background-image: url('nomo/file.elisp.svg')
                }
                .fileicon[data-code="file.tex"] {
                    background-image: url('nomo/file.tex.svg')
                }
                .fileicon[data-code="file.ptl"] {
                    background-image: url('nomo/file.ptl.svg')
                }
                .fileicon[data-code="file.erlang"] {
                    background-image: url('nomo/file.erlang.svg')
                }
                .fileicon[data-code="file.swift"] {
                    background-image: url('nomo/file.swift.svg')
                }
                .fileicon[data-code="file.coffee"] {
                    background-image: url('nomo/file.coffee.svg')
                }
                .fileicon[data-code="file.objc"] {
                    background-image: url('nomo/file.objc.svg')
                }
                .fileicon[data-code="file.vb"] {
                    background-image: url('nomo/file.vb.svg')
                }
                .fileicon[data-code="file.handlebars"] {
                    background-image: url('nomo/file.handlebars.svg')
                }
                .fileicon[data-code="file.powershell"] {
                    background-image: url('nomo/file.powershell.svg')
                }
                .fileicon[data-code="file.pester"] {
                    background-image: url('nomo/file.pester.svg')
                }
                .fileicon[data-code="file.slim"] {
                    background-image: url('nomo/file.slim.svg')
                }
                .fileicon[data-code="file.jsx"] {
                    background-image: url('nomo/file.jsx.svg')
                }
                .fileicon[data-code="file.gql"] {
                    background-image: url('nomo/file.gql.svg')
                }
                .fileicon[data-code="file.tsx"] {
                    background-image: url('nomo/file.tsx.svg')
                }
                .fileicon[data-code="file.yaml"] {
                    background-image: url('nomo/file.yaml.svg')
                }
                .fileicon[data-code="file.toml"] {
                    background-image: url('nomo/file.toml.svg')
                }
                .fileicon[data-code="config.npm"] {
                    background-image: url('nomo/config.npm.svg')
                }
                .fileicon[data-code="config.git"] {
                    background-image: url('nomo/config.git.svg')
                }
                .fileicon[data-code="config.format"] {
                    background-image: url('nomo/config.format.svg')
                }
                .fileicon[data-code="config.travis"] {
                    background-image: url('nomo/config.travis.svg')
                }
                .fileicon[data-code="config.appveyor"] {
                    background-image: url('nomo/config.appveyor.svg')
                }
                .fileicon[data-code="config.license"] {
                    background-image: url('nomo/config.license.svg')
                }
                .fileicon[data-code="config.editorconfig"] {
                    background-image: url('nomo/config.editorconfig.svg')
                }
                .fileicon[data-code="config.bower"] {
                    background-image: url('nomo/config.bower.svg')
                }
                .fileicon[data-code="config.docker"] {
                    background-image: url('nomo/config.docker.svg')
                }
                .fileicon[data-code="config.makefile"] {
                    background-image: url('nomo/config.makefile.svg')
                }
                .fileicon[data-code="config.dub"] {
                    background-image: url('nomo/config.dub.svg')
                }
                .fileicon[data-code="config.grunt"] {
                    background-image: url('nomo/config.grunt.svg')
                }
                .fileicon[data-code="config.gulp"] {
                    background-image: url('nomo/config.gulp.svg')
                }
                .fileicon[data-code="config.eslint"] {
                    background-image: url('nomo/config.eslint.svg')
                }
                .fileicon[data-code="config.babel"] {
                    background-image: url('nomo/config.babel.svg')
                }
                .fileicon[data-code="config.vs"] {
                    background-image: url('nomo/config.vs.svg')
                }
                .fileicon[data-code="config.yarn"] {
                    background-image: url('nomo/config.yarn.svg')
                }
                .fileicon[data-code="folder.test.close"] {
                    background-image: url('nomo/folder.test.close.svg')
                }
                .fileicon[data-code="folder.test.open"] {
                    background-image: url('nomo/folder.test.open.svg')
                }
                .fileicon[data-code="folder.vs.close"] {
                    background-image: url('nomo/folder.vs.close.svg')
                }
                .fileicon[data-code="folder.vs.open"] {
                    background-image: url('nomo/folder.vs.open.svg')
                }
                .fileicon[data-code="folder.git.close"] {
                    background-image: url('nomo/folder.git.close.svg')
                }
                .fileicon[data-code="folder.git.open"] {
                    background-image: url('nomo/folder.git.open.svg')
                }
                .fileicon[data-code="folder.js.close"] {
                    background-image: url('nomo/folder.js.close.svg')
                }
                .fileicon[data-code="folder.js.open"] {
                    background-image: url('nomo/folder.js.open.svg')
                }
                .fileicon[data-code="folder.dist.close"] {
                    background-image: url('nomo/folder.dist.close.svg')
                }
                .fileicon[data-code="folder.dist.open"] {
                    background-image: url('nomo/folder.dist.open.svg')
                }
                .fileicon[data-code="folder.src.close"] {
                    background-image: url('nomo/folder.src.close.svg')
                }
                .fileicon[data-code="folder.src.open"] {
                    background-image: url('nomo/folder.src.open.svg')
                }
                .fileicon[data-code="folder.include.close"] {
                    background-image: url('nomo/folder.include.close.svg')
                }
                .fileicon[data-code="folder.include.open"] {
                    background-image: url('nomo/folder.include.open.svg')
                }
                .fileicon[data-code="folder.lib.close"] {
                    background-image: url('nomo/folder.lib.close.svg')
                }
                .fileicon[data-code="folder.lib.open"] {
                    background-image: url('nomo/folder.lib.open.svg')
                }
                .fileicon[data-code="folder.ts.close"] {
                    background-image: url('nomo/folder.ts.close.svg')
                }
                .fileicon[data-code="folder.ts.open"] {
                    background-image: url('nomo/folder.ts.open.svg')
                }
                .fileicon[data-code="_folder_dark"] {
                    background-image: url('nomo/folder.close.svg')
                }
                .fileicon[data-code="_folder_open_dark"] {
                    background-image: url('nomo/folder.open.svg')
                }
                .fileicon[data-code="_file_dark"] {
                    background-image: url('nomo/file.svg')
                }
                