:local(.root) {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    > header {
        position: sticky;
        top: 0;
        background-color: var(--bar-background);
        > .toolbar {
            flex: 20px 0 0 ;
            display: flex;
            justify-content: end;
            > button {
                flex: 20px 0 0;
                height: 20px;
                padding: 2px;
                cursor: pointer;
            }
        }    
    }
    > .list {
        flex: 100% 1 1;
        overflow: auto;
    }
    > footer {
        background-color: var(--bar-background);
        flex: 1.5em 0 0;
        padding: 0 1em;
        font-size: .9em;
        opacity: .8;
        white-space: nowrap;
        overflow: hidden;
    }
    transition: border-color 0.6s;
    &.focused {
        border-color: var(--active-border-color);
    }
}

