@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-weight: 300;
    font-variation-settings: "wght" 300;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-weight: 400;
    font-variation-settings: "wght" 400;
}
@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf);
    font-style: italic;
}
@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-weight: 600;
    font-variation-settings: "wght" 600;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/MaterialSymbolsOutlined.woff2) format('woff2');
}
/*
https://developers.google.com/fonts/docs/material_symbols
https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined 
*/

.icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: var(--icon-size);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    font: inherit;
    font-style: normal;
    font-weight: 400;
    color: var(--color);
}

*, *::before, *::after {
    box-sizing: border-box;
}

image, picture, svg, video {
    display: block;
    max-width: 100%; 
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--hover-background);
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*:focus {
    outline: none !important
}

li {
    list-style: none;
}

button {
    background-color: transparent;
}

html {
    color-scheme: dark light;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

strong {
    font-weight: 600;
}

input {
    font-size: 1rem;
    font-weight: 400;
}

svg.drag-image text {
    fill: var(--color);
    font-family: var(--font-family);
    font-size: 13px;
}

section {
    > p {
        padding: .4em 0;
    }
}

.fill-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
    > .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        text-align: center;
    }
    .icon:first-of-type {
        font-size: 6em;
    }
    .link {
        color: var(--link);
        text-decoration: underline;
        cursor: pointer;
    }
    b {
        background-color: var(--bar-background);
        padding: .2em .5em;
        border-radius: 6px;
        font-weight: 600;
    }
}

.modal-content {
    padding: 1em;
    p {
        padding: .5em 0;
    }
    strong {
        font-size: 1.1rem;
        font-weight: 600;
    }
    i {
        font-weight: 400;
    }
}

:root {
    --font-family: OpenSans;
    --font-size: 13.5px;
    --icon-size: 14px;
    --background: #fff;
    --color: #040404;
    --bar-background: #ECE7E5;
    --bar-color: #000000;
    --border-color: #E3E2E3; 
    --hover-background: #e9edf9;
    --selected-background: #2551C8;
    --selected-color: #fff;
    --drop-background: #BEBEBE;
    --link: #1976d2;
    --highlight: #4e91fd;
}

form {
    label {
        display: block;
        margin: 1em 0 .2em 0;
    }
    & input.dry {
        display: block;
        width: 100%;
    }
    & input.dry::placeholder {
        font-weight: 400;
    }
    > p {
        display: flex;
        align-items: center;
        opacity: .6;
        font-size: .9em;
        > .icon {
            margin-right: .4em;
        }
        > a {
            color: var(--link);
        }
    }
}


@import "../ui/styles.css";
@import "themes/black.css";
@import "themes/blue.css";
@import "themes/green.css";

:root {
    --dry-bg: var(--background);
    --dry-color: var(--color);
    --dry-border-color: var(--border-color);
    --dry-border-width: 1px;
    --dry-border-style: solid;
    --dry-border: var(--dry-border-width) var(--dry-border-style) var(--dry-border-color);
    --dry-border-radius: .3rem;
    --dry-hover-bg: var(--hover-background);
    --dry-primary: var(--primary);
    
    --dry-resizer-color: var(--border-color);
    --dry-resizer-width: 4px;
    --dry-progress-color: var(--primary);
    --dry-progress-bg: var(--background);
    --dry-modal-zindex: 1000;
}

&[data-mode="dark"] {
    --dry-tooltip-bg: #000;
    --dry-tooltip-color: #ffffffcc;
    --dry-primary-highlight: #4d5565;
    --dry-modal-fade: #00000060;   
}
&[data-mode="light"] {
    --dry-tooltip-bg: #757575;
    --dry-tooltip-color: #e5e5e5;
    --dry-primary-highlight: #8c9098;
    --dry-modal-fade: #ffffff60; 
}