:local(.root) {
    > p {
        line-height: 2em;
        > strong {
            display: block;
        }
    }
    > div:last-of-type {
        margin-top: 3em;
    }
}

:local(.file) {
    display: flex;
    padding: 0.8em 0;
    align-items: center;
    > i {
        flex: 2em 0 0;
        font-size: 2em;
        text-align: center;
    }
}
