:local(.root) {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: .5em;
    background-color: var(--bar-background);
    color: var(--border-color);
    padding: .1em .4em 0 .4em;
    user-select: none;
    > .icon {
        display: flex;
        align-items: center;
        gap: .2em;
        font-size: 1.1rem;
        color: var(--bar-color);
        padding: 0.2em;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: var(--hover-background);
        }
        &:disabled {
            opacity: .6;
            cursor: auto;
            &:hover {
                background-color: inherit;
                color: revert;
            }
        }
        > span {
            font-family: var(--font-family);
            font-size: .8rem;
        }
    }
    > i {
        height: 1rem;
        width: 1px;
        background-color: var(--bar-color);
        opacity: .6;
    }
}